<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<div align="center">

    <h1>Create a book to manage</h1>
    <hr>
    <th:block th:if="message">
        <a style="color: darkmagenta" th:text="${message}"></a>
    </th:block>
    <form action="/create" method="post" th:object="${book}">
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}"></td>
            </tr>
            <tr>
                <td>Author:</td>
                <td><input type="text" th:field="*{author}"></td>
            </tr>
            <tr>
                <td>Price:</td>
                <td><input type="number" th:field="*{price}"></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Create new Book">
                </td>
            </tr>
        </table>
        <a th:href="@{/}">Back to Book list</a>
    </form>
</div>

</body>
</html>