<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit book infomation</title>
</head>
<body>
<div align="center">
    <h2>Edit book infomation</h2>
    <hr>
    <th:block th:if="message">
        <a style="color: darkmagenta" th:text="${message}"></a>
    </th:block><br/>

    <form th:action="@{/edit}" method="post" th:object="${book}">
        <input th:type="hidden" name="id" th:field="*{id}">
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}"></td>
            </tr>
            <tr>
                <td>Author:</td>
                <td><input type="text" th:field="*{author}"></td>
            </tr>
            <tr>
                <td>Price:</td>
                <td><input type="text" th:field="*{price}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Update book"></td>
            </tr>
        </table><br/>

        <a th:href="@{/}">Back to list</a>
    </form>
</div>

</body>
</html>